body {
  margin: 0;


}

.back {
  background-image: url("backpic.jpeg");
  height: 100vh;
  
}



h1 {
  font-family: Arial;
position: absolute;
top: 1vh;
left: 42vw;
  margin-top: 10vh;
  font-size: 5vh;

}

#canvas1 {
  background-color: white;
  border: 0.5vh solid black;
  position: absolute;
  top: 60vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  width: 30vw;
  height: 40vh;
}

#stageTitle {
  font-size: 3.5vh;
position: absolute;
top: 15vh;
left: 47vw;
  font-family: Arial;
  margin-top: 5vh;

}

#waterBtn {
  font-size: 7vh;
  position: absolute;
  top: 28vh;
  left: 36vw;
}

#cutBtn {
  font-size: 7vh;
  position: absolute;
  top: 28vh;
  left: 58vw;
}



@media screen and (min-width: 0px) and (max-width: 700px) {
  #canvas1 {
    background-color: burlywood;
    border: 0.5vh solid black;
    position: absolute;
    top: 64vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    width: 60vw;
    height: 40vh;
  }

  #waterBtn {
    font-size: 5vh;
    position: absolute;
    top: 28vh;
    left: 18vw;
  }

  #cutBtn {
    font-size: 5vh;
    position: absolute;
    top: 28vh;
    left: 60vw;
  }
}
